/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    font-family: 'segoe ui light';
}
body{
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
