<nav>
    <h1>Most Starred Github Repos</h1>
</nav>


<div class="container">
    <div class="repo" *ngFor="let repo of repos">
        <div class="repo-avatar">
            <img src={{repo.owner.avatar_url}} alt="Avatar">
        </div>
        <div class="repo-details">
            <h3>{{repo.name}}</h3>
            <p>{{repo.description}}</p>
            <div class="repo-meta">
                <p class="repo-stars">
                    Stars : {{repo.stargazers_count}}
                </p>
                <p class="repo-issues">
                    Issues : {{repo.open_issues}}
                </p>
                <p>
                    Submitted {{repo.pushed_at}} by {{repo.owner.login}}
                </p>

            </div>
        </div>
    </div>

    <div infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()"></div>

    <div class="loader"></div>

    <div *ngIf="showError" class="lightbox-container">
        <div class="lightbox-item">
            <h3>There is some Error!</h3>
            <p>Something went wrong may be there is a problem with our serrver,<br>
               Please reload the page.</p>
               <button (click)="reload()">Reload</button>
        </div>
    </div>
</div>