

nav{
    background-color: #24292e;
}
nav h1{
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.container{
    width: 85%;
    max-width: 1140px;
    margin: 1rem auto;
    padding: 1rem;
    background-color: #fff;
}

.repo{
    display: flex;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #cfcfcf;
}
.repo-avatar{
    width: 20%;
}
.repo-avatar img{
    width: 100%;
}
.repo-details p , .repo-details h3 {
    margin: 0.75rem;
}
.repo-details{
    width: 80%;
}
.repo-meta{
    display: flex;
}


.loader,
.loader:before,
.loader:after {
  background: #24292e;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #24292e;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
