
<nav>
    <h1>Most Starred Github Repos</h1>
</nav>


<div class="container">
    <div class="repo">
        <div class="repo-avatar">
            <img src="assets/images/971474.jpg" alt="">
        </div>
        <div class="repo-details">
            <h3>Repo name</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor dignissimos mollitia velit, fugit facere exercitationem nesciunt libero obcaecati numquam architecto, totam dolores odio, quod adipisci doloribus asperiores repellendus eos nemo?</p>
            <div class="repo-meta">
                <p class="repo-stars">
                    Stars : 11k
                </p>
                <p class="repo-issues">
                    Issues : 1k
                </p>
                <p>
                    Subitted 30 days ago by tensor
                </p>

            </div>
        </div>
    </div>
    <div class="repo">
        <div class="repo-avatar">
            <img src="assets/images/971474.jpg" alt="">
        </div>
        <div class="repo-details">
            <h3>Repo name</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor dignissimos mollitia velit, fugit facere exercitationem nesciunt libero obcaecati numquam architecto, totam dolores odio, quod adipisci doloribus asperiores repellendus eos nemo?</p>
            <div class="repo-meta">
                <p class="repo-stars">
                    Stars : 11k
                </p>
                <p class="repo-issues">
                    Issues : 1k
                </p>
                <p>
                    Subitted 30 days ago by tensor
                </p>

            </div>
        </div>
    </div>
    <div class="repo">
        <div class="repo-avatar">
            <img src="assets/images/971474.jpg" alt="">
        </div>
        <div class="repo-details">
            <h3>Repo name</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor dignissimos mollitia velit, fugit facere exercitationem nesciunt libero obcaecati numquam architecto, totam dolores odio, quod adipisci doloribus asperiores repellendus eos nemo?</p>
            <div class="repo-meta">
                <p class="repo-stars">
                    Stars : 11k
                </p>
                <p class="repo-issues">
                    Issues : 1k
                </p>
                <p>
                    Subitted 30 days ago by tensor
                </p>

            </div>
        </div>
    </div>
</div>
